ia-mdm-crosswalk/src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config"
		doc:id="b6a0df78-e833-4e28-95b1-50062c3199a7">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<flow name="asu-sf-xwalk-main">
		<http:listener config-ref="HTTP_Listener_config"
			path="${secure::api.base.path}" doc:name="HTTP">
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[output text/plain --- payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>

		<flow-ref name="router-entrance" doc:name="router-entrance" />
		<apikit:router config-ref="asu-sf-xwalk-config"
			doc:name="APIkit Router" />

		<error-handler ref="apiErrorStrategy"
			doc:name="Reference Exception Strategy" />

	</flow>

</mule>
